<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
      <!--layout:decorate="template/femabra_dashboard.html"-->
<!--&gt;-->
<!--<body>-->
<!--<section layout:fragment="content"    >-->

    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
<!--</section>-->
<!--</body>-->

<!--</html>-->

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="template/femabra_dashboard.html">


    <section layout:fragment="menu-layout"    >


    </section>

    <section layout:fragment="content"    >




<h1><div th:text="${userSession.name}"></div></h1>
    </section>

</div>



